<div class="wrapper">
  <h1 class="title">Do you know weight of your animal?</h1>

  <div class="progress-bar">
    <span class="progress-bar__min-value">0</span>

    <div class="progress-bar__gradation">
      <mat-progress-bar class="progress-bar" mode="determinate" value="{{currentWeightInPercent}}"></mat-progress-bar>
      <div class="progress-bar__gradation_color-line">
        <div class="border-wrapper border-wrapper__left"></div>
        <div class="border-wrapper border-wrapper__right"></div>
      </div>
    </div>

    <span class="progress-bar__max-value">120</span>
  </div>

  <div class="current-weight">Current weight is
    <span class="current-weight__number">{{currentWeight}}</span>
  </div>

  <h3>Examples of different animals</h3>
  <div class="buttons">
    <button [disabled]="isWeightingProcess" (click)="buttonClickHandler('small')" class="buttons__item buttons__item_small">small animal</button>
    <button [disabled]="isWeightingProcess" (click)="buttonClickHandler('medium')" class="buttons__item buttons__item_medium">medium animal</button>
    <button [disabled]="isWeightingProcess" (click)="buttonClickHandler('large')" class="buttons__item buttons__item_large">large animal</button>
  </div>


  <div
    *ngIf="isDoneWeight"
    class="result-box"
    [class.small-animal]="resultWeight.small"
    [class.medium-animal]="resultWeight.medium"
    [class.large-animal]="resultWeight.large"
  >
  </div>

  <button
    (click)="weightAgain()"
    class="weight-again-btn"
    *ngIf="isDoneWeight"
  >weight again</button>
</div>


